@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-body: #000;
    --bg-bar: rgb(0, 0, 0);
    --hover-color: #ffdc17;
    --bg-home: url(img/bg.jpg);
    --bg-about: url(img/5125690012.jpg);
}

::-webkit-scrollbar {
    display: none;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lexend Exa", sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: var(--bg-body);
}

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 12rem 1rem 12rem;
    user-select: none;
    background-color: var(--bg-bar);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 40px 20px #000;
    width: 100%;
    height: 72px;
    bottom: 0;
    color: #fff;
    z-index: 2;

}

header a {
    text-decoration: none;
    padding: 0.5rem;
    font-size: 14px;
    color: #fff;
}

.logo img {
    pointer-events: none;
    filter: invert(1);
    width: 180px;
}

.menu a {
    position: relative;
}

.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: rgb(255, 198, 15);
    transition: 0.3s ease-in-out;

}

.menu a:hover::before {
    width: 50px;
}

#home {
    animation: fade 0.8s ease-in-out forwards;
    background-image: var(--bg-home);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    position: relative;
}

.scroll {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffffc4;
}

.scroll h3 {
    position: absolute;
    bottom: 7rem;
    font-size: 12px;
    opacity: 0.4;
}

.scroll img {
    position: absolute;
    animation: scrolls 1.5s ease-in-out infinite;
    bottom: 5.8rem;
    width: 22px;
    height: 22px;
}

#about {
    animation: fade 0.8s ease-in-out forwards;
    background-image: var(--bg-about);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    font-size: 14px;
    padding: 4rem;
    opacity: 0;
}

.about {
    padding-bottom: 2rem;
    width: fit-content;
    color: #fff;
}

.about h2 {
    font-size: 22px;
    padding-bottom: 1rem;
}

.link {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 9px;
}

.link a {
    color: #fff;
    padding: 2px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.link a:hover {
    color: var(--hover-color);
}

.reveal {
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.reveal.active {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes blinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes scrolls {
    0% {
        opacity: 0;
        transform: translate(0);
    }

    80% {
        opacity: 0.4;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translatey(14px);
    }
}

@media screen and (max-width:768px) {
    header {
        padding: 0 10px;
    }

    .logo img {
        width: 160px;
    }

    .menu {
        display: none;
    }
}