@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-header: rgba(0, 0, 0, 0.89);
    --logo-color: #fff;
    --link-color: #fff;
    --hover-logo: rgb(188, 188, 188);
    --bg-main: url("img/bg.jpg");
    --font-logo: "UnifrakturMaguntia", cursive;
}

::-webkit-scrollbar {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lexend Exa", sans-serif;
}

header {
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: var(--bg-header);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.inbox {
    margin-left: 1rem;
    height: 100vh;
}

.logo {
    font-family: var(--font-logo);
    color: var(--logo-color);
    margin: 1rem 0 3rem 0;
}

.logo a {
    color: var(--logo-color);
    transition: 0.2s ease-in-out;
    font-size: 28px;
}

.logo a:hover {
    color: var(--hover-logo);
}

.menu a {
    display: flex;
    padding-bottom: 1rem;
    transition: 0.2s ease-in-out;
}

.menu a:hover {
    opacity: 0.7;
}

.bg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: var(--bg-main);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

@media screen and (max-width:768px) {
    header {
        width: 100%;
        height: 50px;
    }

    .inbox {
        margin-left: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin: 0;
        margin-left: 1rem;
    }

    .menu {
        margin-right: 1rem;
    }

    .menu ul {
        display: flex;
        gap: 10px;
    }

    .menu a {
        padding-bottom: 0;
    }

    .box {
        width: 100%;
        height: 100%;
    }
}