@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-header: rgba(0, 0, 0, 0.89);
    --logo-color: #fff;
    --link-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Lexend Exa", sans-serif;
}

header {
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: var(--bg-header);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.inbox {
    margin-left: 1rem;
    height: 100vh;
}

.logo {
    color: var(--logo-color);
    margin: 1rem 0 3rem 0;
    font-family: "UnifrakturMaguntia", cursive;
}

.logo a {
    font-size: 28px;
    transition: 0.2s ease-in-out;
    color: #ffffff;
}

.logo a:hover {
    color: rgb(255, 194, 119);
}

.menu a {
    display: flex;
    padding-bottom: 1rem;
    transition: 0.2s ease-in-out;
}

.menu a:hover {
    opacity: 0.8;
}

.bg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.aa {
    width: 100%;
    height: 100%;
}