.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px;
  box-shadow: var(--box-shadows);
  background-color: var(--header-color);
  backdrop-filter: var(--bd-blur);
}

.App-logo {
  display: flex;
  padding-left: 1rem;
  color: var(--white-color);
}

.App-logo h1 {
  font-size: 20px;
}

.link-container {
  display: grid;
  position: fixed;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 2;
  right: 0;
  height: 100vh;
}

.link-container a {
  padding: 3px;
}

.link {
  display: grid;
  border-radius: 8px 0 0 8px;
  background-color: var(--bg-link);
  backdrop-filter: var(--bd-blur);
}

.link img {
  transition: filter 0.8s ease-out;
}

.link img:hover {
  filter: var(--drop-shadows);
  transition: filter 0.2s ease-in;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}