.gallery {
    position: absolute;
    top: 32%;
    right: 20%;
    width: 400px;
    overflow: hidden;
    box-shadow: var(--box-shadows);
    background: var(--bg-windows);
    z-index: 1;
}

.gallery-header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 45px;
    font-weight: 500;
    user-select: none;
}

.gallery-title {
    font-size: 0.75rem;
    color: var(--white-color);
}

.gallery-content {
    display: flex;
    position: relative;
    height: 200px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 4rem;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    background: none;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}

.nav-btn:hover {
    filter: var(--drop-shadows);
}

.left {
    left: 10px;
    bottom: 6rem;
}

.right {
    right: 10px;
    bottom: 6rem;
}