@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Antonio", sans-serif;
  --bg-primary:   rgb(27, 27, 29);
  --text-primary: rgb(242, 242, 247);
}